@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Poppins&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
#content {
  display: grid;
  grid-template: .4fr 5fr / 1fr;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

/* Navigation */ 
#nav {
  display: grid;
  position: fixed;
  grid-template: 1fr / 1fr 6fr 1fr;
  background-color: #fff;
  color: #444;
  border-bottom: 1px solid #222;
}
#nav-left {
  display: grid;
  align-items: center;
  padding: 5px;
}
#nav-center {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
#nav-right {
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.nav-r-items {
  display: grid;
  justify-content: center;
  font-weight: 500;
}
.menu {
  display: none;
}
#menu-items {
  display: none;
}
#logo img {
  width: 4rem;
  height: 3rem;
}
#menu-icon-web img {
  width: 1.5rem;
}

/* article */

#article {
  display: grid;
}
#slide-show-container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template: 1fr / 1fr;
  justify-items: center;
  align-items: center;


}
#album-slider {
  width: 90%;
  height: 60%;
  border: 1px solid #fff;
  display: grid;
  grid-template: 1fr /  repeat(auto-fit, minmax(10rem, 1fr));
  padding: 10px;
}
.addAlbum {
  outline: 1px solid #999;
  margin: 5px;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 8rem;
  color: #444;
  background: url('/static/images/addIcon.png');
  background-repeat: no-repeat;
  background-position: 50%;
}
.addAlbum:hover {
  cursor: pointer;
  transform: scale(.98);
}
.album-grid {
  display: grid;
  grid-template: .5fr 5fr / 1fr;
  background-color: #fff;
  outline: 1px solid #999;
  margin: 5px;
}
.album-title {
  display: grid;
  align-items: center;
  justify-items: center;
}
/* Default page */
#default-page {
  width: 100%;
  height: 100vh;
  background: url('/static/images/bg3.jpg');
  background-size: cover;
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(8, 1fr);
}
#site-details {
  grid-area: 2/1/4/4;
  display: grid;
  grid-template: 2fr 1fr / 1fr;
  padding-left: 30px;
  border-top: 20px solid #fff;
  border-bottom: 5px solid #fffada;
  color: #fff;
}
#site-name {
  font-size: 2.9rem;
  font-weight: 900;
  display: grid;
  justify-content: left;
  align-content: center;
}
#site-slogan {
  display: grid;
  justify-content: left;
  align-content: flex-end;
  padding-bottom: 20px;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 300;
}
#site-slogan b {
  color: rgb(219, 57, 57);
}



@media only screen and (max-width: 700px) {
  
}